.flags {
    width: 20px;
    height: 20px;
}

.card {
    text-align: center;
}

.Section1 {
    text-align: center;
}

.disclaimer {
    text-align: center;
}

.Date {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    color: white;
    text-align: center;
    padding: 10px;
}

#nav {
    background: lightgreen;
    width: 100%;
    position: fixed;
}

#navtitle {
    font-family: 'Alfa Slab One', ;
}